################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/packages
/Source/SpectrumColourPicker/bin
/Source/SpectrumColourPicker/obj/Debug
/Source/UmbracoTestBed/App_Data/Logs
/Source/UmbracoTestBed/App_Data/NuGetBackup
/Source/UmbracoTestBed/obj/Debug
/Source/UmbracoTestBed/media
/Source/.vs
/Source/SpectrumColourPicker/SpectrumColourPicker.csproj.user
/Source/SpectrumColourPicker/obj/Release
/Source/Package/6390AFFD-0056-49A5-9597-AA9B0FAA2FB6/App_Plugins/SpectrumColorPicker/lib/spectrum/spectrum.js
/Source/Package/6390AFFD-0056-49A5-9597-AA9B0FAA2FB6/App_Plugins/SpectrumColorPicker/lib/spectrum/spectrum.css
/Source/Package/6390AFFD-0056-49A5-9597-AA9B0FAA2FB6/SpectrumColorPicker.controller.js
/Source/Package/6390AFFD-0056-49A5-9597-AA9B0FAA2FB6/spectrum.js
/Source/Package/6390AFFD-0056-49A5-9597-AA9B0FAA2FB6/spectrum.css
/Source/Package/6390AFFD-0056-49A5-9597-AA9B0FAA2FB6/package.manifest
