################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/packages
/Source/SpectrumColourPicker/bin
/Source/SpectrumColourPicker/obj/Debug
/Source/UmbracoTestBed/App_Data/Logs
/Source/UmbracoTestBed/App_Data/NuGetBackup
/Source/UmbracoTestBed/obj/Debug
/Source/UmbracoTestBed/media
