################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/packages
/Source/SpectrumColourPicker/bin
/Source/SpectrumColourPicker/obj/Debug
